<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="listeners.customListeners"></listener>
	</listeners>

	<!-- <test name="Login Test"> <classes> <class name="tests.LoginTest.LoginTest"/> 
		</classes> </test> -->


	<test name="Inventory Test">
		<classes>
			<class name="tests.ProductTest.InventoryTest" />
		</classes>
	</test>



</suite>
